.fn-header {
  min-height:100vh;
  max-Height:999px;
  background-Size: 100% 100%;
}
.App {
  text-align: center;
}

.App-font{
  font-size: 12;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.App-font-p{
  font-size: 8;
  color:white;
  font-family: sans-serif;
  text-align: left;
}

.App-button{
  border: 3em;
  padding: 10px;
  border-color: whitesmoke;
  margin: 1%;
  border-radius: 20px;
  font-size: 12;
}
.App-button :hover{
    text-decoration: underline;
    border-color: white;
    border-width: 5px;

}

.rounded-corner{
  border: 2em;
  border-radius: 10px;
}

.table-body{
  background-color:#282c34;
}

.table-row{
  border: 2em;
  border-color:black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: auto;
  width: auto;
  max-height: 90px;
  max-width: 100px;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

#myBar {
  width: 0%;
  height: 40px;
  background-color: #4280f4;
  text-align: center;
  line-height: 40px;
  color: white;

}

#progress{
  width: 40%;
  background-color: black;
  margin-left: 30%;
}

#sizing{
  height: 10%;
  width: 10%;
  margin-left: 45%;
  margin-bottom: 2%;
}

#loading_text{
  color: white;
  text-align: center;
  font-size: 350%;
  font-weight: bold;
  margin-top: 10%;
}

.background{
  background-image: url('background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
